*{margin: 0;padding: 0;list-style: none;}
html,body{width: 100%;height: 100%;font-family: 微软雅黑;}
.fl{float: left;}
.fr{float: right;}

body{
	-webkit-perspective: 1500;
  	-webkit-perspective-origin: 0% 50%;
  	backface-visibility: visible;
  	background: #eee;
  	
  	animation-name: body;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}
@keyframes body{
	0%{
		background: #000;
		}
	100%{
		background: #eee;
		}
}
body>li{
	position: fixed;
	top: 250px;
	left: 0;
	width: 100%;
	height: auto;
}
body>li>div{
	margin: 0 auto;
}
#box1{
	width: 650px;
	height: 300px;

	box-shadow: 0 0 5px #999;
	border-radius: 10px;
	background: #fff;
	opacity: 0;
	animation-name: box1;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes box1{
	0%{
		opacity: 0;
		width: 150px;
		height: 20px;
		box-shadow: 0 5px 10px #888;
		}
	20%{
		opacity: 1;
		}
	40%{
		width: 300px;
		height: 300px;
		transform-origin:50% 50% 50%;
		transform:rotateZ(0deg);
	}
	70%{
		width: 300px;
		height: 300px;
		transform-origin:50% 50% 50%;
		transform:rotateZ(360deg);
	}
	90%{
		opacity: 1;
		width: 650px;
		height: 300px;
		transform-origin:50% 50% 50%;
		transform:rotateZ(360deg);
		}
	100%{
		opacity: 0;
		width: 650px;
		height: 300px;
		transform-origin:50% 50% 50%;
		transform:rotateZ(360deg);
		}
}

#box2{
	width: 600px;
	height: 300px;

	opacity: 0;
	animation-name: box2;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 7.6s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}

#box2>div{
	width: 300px;
	height: 300px;
	box-shadow: 0 0 5px #999;
	border-radius: 10px;
	background: #fff;	
}

@keyframes box2{
	0%{opacity: 1;width: 650px;}
	90%{opacity: 1;width: 600px;}
	100%{opacity: 0;}
}

#box3{
	width: 300px;
	height: 300px;

	box-shadow: 0 0 5px #999;
	border-radius: 10px;
	background: #fff;
	opacity: 0;
	animation-name: box3;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 9.3s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes box3{
	0%{opacity: 1;width: 600px;}
	80%{width: 300px;}
	90%{opacity: 1;}
	100%{opacity: 0;}
}

#box4{
	width: 300px;
	height: 300px;	
}

#box4>div{
	width: 300px;
	height: 75px;
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 5px #999;
	border-radius: 10px;
	background: #fff;
	opacity: 0;
	animation-name: box4;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 11s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes box4{
	0%{
		opacity: 1;
		margin-bottom: 0;
	}
	90%{
		opacity: 1;
		margin-bottom: 15px;
	}
	100%{opacity: 0;}
}

#box5{
	width: 300px;
	height: 300px;
	opacity: 0;
	position: relative;
	animation-name: box5;
	animation-duration: 5.5s;
	animation-timing-function: ease-in-out;
	animation-delay: 12.5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;	
}

#box5>div{
	position: absolute;
	left: 0;
	width: 300px;
	height: 75px;
	box-shadow: 0 0 5px #999;
	border-radius: 10px;
	background: #fff;

}

@keyframes box5{
	0%{opacity: 1;}
	90%{opacity: 1;}
	100%{opacity: 0;}
}
#box51{
	top: 0;
}
#box52{
	top: 90px;
	animation-name: box52;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-delay: 13s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;	
}
#box53{
	top: 180px;
	animation-name: box53;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-delay: 13s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;	
}
#box54{
	top: 270px;
	animation-name: box54;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-delay: 13s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;	
}
@keyframes box52{
	10%{top:90px;}
	40%{
		top:90px;
	}
	90%{opacity: 1;
		top:180px;
	}
	100%{top:180px;}
}
@keyframes box53{
	10%{top:180px;}
	40%{
		top:270px;
	}
	90%{opacity: 1;
		top:270px;
	}
	100%{top:270px;}
}
@keyframes box54{
	10%{
		transform: scale(1.2);
		box-shadow: 0 0 20px #666;	
	}
	40%{
		top:180px;
	}
	80%{
		top:90px;
		transform: scale(1.2);
		box-shadow: 0 0 20px #666;
	}
	90%{top:90px;
		transform: scale(1);
		box-shadow: 0 0 5px #999;
		opacity: 1;
	}
	100%{top:90px;}
}

#box6{
	width: 300px;
	height: 300px;	
}

#box6>div{
	width: 300px;
	height: 75px;
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 5px #999;
	border-radius: 10px;
	background: #fff;
	opacity: 0;
	animation-name: box6;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 17.5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes box6{
	0%{
		opacity: 1;
		margin-bottom: 15px;
	}
	90%{
		opacity: 1;
		margin-bottom: 0px;
	}
	100%{opacity: 0;}
}

#box7{
	width: 300px;
	height: 300px;
	position: relative;
	box-shadow: 0 0 5px #999;
	background: #fff;
	overflow: hidden;
	opacity: 0;
	animation-name: box7;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 19s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes box7{
	0%{opacity: 1;}
	100%{opacity: 1;}
}

#box8{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #999;
	position: absolute;
	top: 145px;left: 145px;
	opacity: 0;

	animation-name: box8;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 19.5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}


@keyframes box8{
	0%{opacity: 1;}
	100%{
		transform: scale(60);
		opacity: 1;
	}
}

#box9{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #eee;
	position: absolute;
	top: 145px;left: 145px;
	opacity: 0;

	animation-name: box9;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 20.5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}


@keyframes box9{
	0%{opacity: 1;}
	100%{
		transform: scale(50);
		opacity: 1;
	}
}

#box10{
	width: 300px;
	height: 300px;
	position: relative;
	opacity: 0;
	animation-name: box10;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 22s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}
#box10>div{
	position: absolute;
	box-shadow: 0 0 5px #999;
	background: #fff;
}
div#box101{
	top: 0;left: 0;
	width: 300px;
	height: 100px;
	z-index: 1;
	animation-name: box101;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 22s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}
div#box102{
	top: 100px;left: 0;
	width: 300px;
	height: 100px;
	box-shadow: 0 0 5px #ddd;
	z-index: 2;
	animation-name: box102;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 22.2s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}
div#box103{
	top:200px;left: 0;
	width: 300px;
	height: 100px;
	z-index: 1;
	animation-name: box103;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 22s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}
@keyframes box10{
	0%{opacity: 1;}
	100%{opacity: 1;}
}
@keyframes box101{
	0%{opacity: 1;}
	30%{
		height: 100px;
		background: #fff;
	}
	31%{
		height: 50px;
		background: #1AB7EE;
	}
	45%{background: #1AB7EE;}
	46%{background: #fff;}
	45%{background: #fff;}
	46%{background: #11CFD2;}
	60%{background: #11CFD2;}
	61%{background: #fff;}
	75%{background: #fff;}
	76%{background: #fff;}
	99%{
		height: 50px;
		background: #1AB7EE;
	}
	100%{opacity: 1;
		height: 50px;
		background: #1AB7EE;
	}
}
@keyframes box103{
	0%{opacity: 1;}
	30%{top:200px;
		height: 100px;
		
	}
	31%{
		top:50px;
		height: 350px;
		background: #fff;
	}
	45%{background: #fff;}
	46%{background: #434CB3;}
	60%{background: #434CB3;}
	61%{background: #fff;}
	75%{background: #fff;}
	76%{background: #F24592;}
	99%{
		top:50px;
		height: 350px;
		background: #F24592;
	}
	100%{opacity: 1;
		top:50px;
		height: 350px;
		background: #F24592;
	}
}
@keyframes box102{
	0%{opacity: 1;}
	10%{
		width: 30px;
		height: 30px;
		border-radius: 15px;
		top: 130px;
		left: 135px;
		transform-origin:50% 50% 50%;
		transform: rotate(1.5);
	}
	20%{
		top: 130px;
		left: 135px;
		border-radius: 15px;
		transform: scale(2.5);
	}
	30%{left: 260px;
		top:260px;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		transform: scale(1);
	}
	31%{left: 260px;
		top:360px;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		background: red;
		transform: scale(1);
	}
	45%{
		left: 260px;
		top:360px;
	}
	46%{
		left: 260px;
		top:10px;
	}
	60%{
		left: 260px;
		top:10px;
	}
	61%{
		left: 10px;
		top:10px;
	}
	75%{
		left: 10px;
		top:10px;
	}
	76%{
		left: 10px;
		top:360px;
	}
	90%{left: 10px;
		top:360px;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		transform: scale(1);
	}
	100%{left: 10px;
		top:360px;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		transform: scale(1);}
}

div#box104{
	top: 100px;left: 100px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #24CDD2;
	z-index: 0;
	animation-name: box104;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 22.2s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes box104{
	0%{opacity: 0;}
	30%{opacity: 0;background: #24CDD2;}
	31%{
		opacity: 1;
		background: #24CDD2;
		transform: scale(1);
	}
	45%{
		opacity: 1;
		background: #24CDD2;
		transform: scale(50);
	}
	46%{
		opacity: 0;
		background: #F24592;
		transform: scale(1);
	}
	47%{
		opacity: 1;
		background: #F24592;
		transform: scale(1);
	}
	60%{
		opacity: 1;
		background: #F24592;
		transform: scale(50);
	}
	61%{
		opacity: 0;
		background: #80FFFE;
		transform: scale(1);
	}
	62%{
		opacity: 1;
		background: #80FFFE;
		transform: scale(1);
	}
	75%{
		opacity: 1;
		background: #80FFFE;
		transform: scale(50);
	}
	76%{
		opacity: 0;
		background: #F1FF60;
		transform: scale(1);
	}
	77%{
		opacity: 1;
		background: #F1FF60;
		transform: scale(1);
	}
	80%{
		opacity: 1;
		background: #F1FF60;
		transform: scale(50);
	}
	100%{opacity: 1;
		transform: scale(50);
	}
}